.app-wrapper {
  background-image: url(https://tinypng.com/images/social/website.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "c n";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 10fr 2fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgba(32, 201, 187, 0.404);
  border-radius: 20px;
  padding: 20px;
}