.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {  
  grid-area: h;
  background-color: rgba(0, 0, 255, 0.548);
}

.header img {
  opacity: 0.5;
  width: 100px;
}

.nav {
  grid-area: n;
  background-color: rgba(22, 211, 236, 0.788);
}

.content {
  grid-area: c;
  background-color: rgba(32, 201, 187, 0.404);
}

.content img {
  opacity: 0.5;
}